<appSettings>
    <add key ="Azure.Search.ApiKey" value="3E79870643E8BAC44C7107F54651FCF7"/>
    <add key ="Azure.Storage.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ncoimbra;AccountKey=S+i/RKl3yLS1hMXzVQJrqqXEBWsbtuykcjSz2nx2zNMfL2eybvRFdx0XqPouIiSIwjT/AzFCC0aiw31xh6ptdw=="/>
    <add key ="Azure.Search.ServiceName" value="ncoimbra"/>
</appSettings>
